:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 500;
}

@font-face {
  font-family: 'trellicons';
  src: url('./assets/fonts/trellicons/trellicons.eot');
  src: url('./assets/fonts/trellicons/trellicons.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/trellicons/trellicons.woff') format('woff'),
    url('./assets/fonts/trellicons/trellicons.ttf') format('truetype');
  font-weight: normal;
}

.icon-lg,
.icon-md,
.icon-sm {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  color: #6b778c;
}
.white {
  color: #fff !important;
}
.icon-sm {
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  width: 20px;
}
.icon-md {
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  width: 24px;
}
.icon-lg {
  color: #fff;
  font-size: 24px;
}
.icon-check,
.icon-home {
  color: #fff;
}
.icon-close {
  color: #6b778c;
}
.icon-lg {
  height: 32px;
  line-height: 32px;
  width: 32px;
}
.icon-subscribe:before {
  content: '\E95F';
}
.icon-check:before {
  content: '\E913';
}
.icon-move:before {
  content: '\E943';
}
.icon-remove:before {
  content: '\E953';
}
.icon-description:before {
  content: '\E91D';
}
.icon-close:before {
  content: '\E918';
}
.icon-overflow-menu-horizontal:before {
  content: '\E94B';
}
.icon-home:before {
  content: '\E933';
}
.icon-add:before {
  content: '\E901';
}
.icon-trello-gold:before {
  content: '\E967';
}
i {
  padding-right: 0.4rem;
}
